:root {
    --first-titel-color: #212121;
    --second-titel-color: #757575;
    --third-titel-color:#FFFFFF; 
    --accent-color: #2196f3;   
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}
address {
    font-style: normal;
}

a {
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
}


body {
    font-family: 'Releway',Roboto;
    color: #212121;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid red;
}


/*------------------------------------HEADER---------------------------------------*/

.header {
    padding-top: 33px;
    padding-bottom: 33px;
}
.header > .container {
    display: flex;
    align-items: center;
}


.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-logo{ 
    margin-right: 93px;
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.header-nav span {
    color: #000000;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--first-titel-color);
}
.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.header-connect {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-titel-color);
}
.header-tel:hover,
.header-tel:focus {
color: var(--accent-color);
}
.header-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-titel-color);
}
.header-mail:hover,
.header-mail:focus {
color: var(--accent-color);
}



/*------------------------------------HERO---------------------------------------*/
.hero-btn {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
cursor: pointer;
min-width: 200px;
height: 50px;
color: #ffffff;
background-color: #2196f3;
}

.hero {
    background-color:  #2F303A;
}

.hero-content {
padding: 200px 280px; 
text-align: center;
margin-left: auto;
margin-right: auto;
}


.hero-pre-titel {
font-family: 'Roboto',sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
max-width: 696px;
color: #FFFFFF;
}

/*------------------------------------MIX---------------------------------------*/
.mix {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.mix-list {
    border: 1px solid #5c5a5a;
}

.mix-item {

}
.mix-titel {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;

}
.mix-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
    
}

/*------------------------------------ABOUT---------------------------------------*/

.about {
    padding-top: 0px;
    padding-bottom: 94px;
}
.about-titel {
font-family: 'Roboto',sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
padding-top: 0px;
padding-bottom: 50px;
color: #212121;
}

.about-list {
    display: flex;
    gap: 30px;
}
.about-item {
}

/*------------------------------------TEAM---------------------------------------*/
.team-titel {
font-family: 'Roboto',sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
padding-top: 0px;
padding-bottom: 50px;
color: #212121;
}


.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-profession {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
 .team-list {
     display: flex;
     column-gap: 30px;
 }

 .team-item {
     width: calc((100% - 60px) /3);
 }
/*-----------------CONTACTS------------------*/




.conacts-address {
    font-style: normal;
}



/*------------------PORTFOLIO.HTML------------------*/

.hero-two {
    padding-top: 31px;
    padding-bottom: 94px;
}

.hero-menu-list {
    display: flex;
    gap: 8px;
}

.hero-two-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.hero-two-item {
    width: calc((100% - 60px) / 3);
}

.hero-two-list{ 
    padding-top: 34px;
    padding-bottom: 0px;
}

.hero-two-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.hero-two-btn:hover,
.hero-two-btn:focus {
background-color: #2196F3;
color: #FFFFFF;
}


.hero-two-title {
font-weight: 700;
font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;
color: #212121;
}

.hero-two-text {
font-weight: 400;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.03em;
color: #757575;
}


/*-----------------CONTACTS------------------*/

.conacts-address {
    font-style: normal;
}
.conacts {
    background-color: #2f303a;
/*padding: 60px 161px;
margin-left: auto;
margin-right: auto;*/

}

.conacts-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.conacts span {
    color: #ffffff;
}

.conacts-map{ 
font-weight: 400;
font-size: 14px;
line-height: calc(24 /14);
letter-spacing: 0.03em;
color: #FFFFFF;
}
.conacts-map:hover,
.conacts-map:focus {
color: var(--accent-color);
}

.mail-link {
font-weight: 400;
font-size: 14px;
line-height: calc(24 /14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.mail-link:hover,
.mail-link:focus {
color: var(--accent-color);
}

.tel-link{
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 /14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.tel-link:hover,
.tel-link:focus {
color: var(--accent-color);
}

